.icon {
    display: inline-block;
    background-color: #fff; 
    mask-size: contain;  
    mask-position: center;                 
}
  .icon[size='s'] {
    width: 16px;
    height: 16px;
  }

  .icon[size='m'] {
    width: 24px;
    height: 24px;
  }
  .icon[size='l'] {
    width: 36px;
    height: 36px;
  }