
.button {
  box-sizing: border-box;
    border-radius: var(--corner-radius-m);
    background: var(--button-bg-color);
    cursor: pointer;
    display: inline-flex;
    gap: 12px;
    position: relative;
    user-select: none;
    transition: scale 150ms;
    align-items: center;
  }

  .button[data-size='s'] {
    height: var(--button-size-s-height);
    padding: 0 calc(var(--button-size-s-height) / 2);
    min-width: var(--button-size-s-height);
  }

  .button[data-size='m'] {
    height: var(--button-size-m-height);
    padding: 0 calc(var(--button-size-m-height) / 2);
    min-width: var(--button-size-m-height);
  }

  .button[data-size='l'] {
    height: var(--button-size-l-height);
    padding: 0 calc(var(--button-size-l-height) / 2);
    min-width: var(--button-size-l-height);
  }
  
  .button[data-style="action"] {
    background: linear-gradient(to right bottom, #f50, #f05);
  }
  
  .button:hover {
    background: var(--button-hover-bg-color);
  }
  .button[data-style="action"]:hover {
    background: linear-gradient(to right bottom, #f72, #f27);
  }
  
  .button:active {
    scale: .9;
  }
  
  .button[data-style="shadow"] {
    background: transparent;
  }
  
  .button[data-style="shadow"]:hover {
    background: var(--button-hover-bg-color);
  }


  .button__icon {
    background-color: #fff;
  }

  .button[data-load] {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 8 8' fill='none'><path d='M0 0H4L0 4V0Z' fill='black' fill-opacity='0.5'/><path d='M0 8L8 0V4L4 8H0Z' fill='black' fill-opacity='0.5'/></svg>");
    animation: linear .5s infinite buttonload;
    pointer-events: none;
  }

  @keyframes buttonload {
    0% {
        background-position: 0 0;
    }
    
    100% {
        background-position: 16px 0;
    }
    }